@import './fonts';
@import './normalize';

body {
  background: #fff;
  color: #374253;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
}

main {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: 15% 1fr;
}

header {
  height: 65px;
  border-bottom: 1px solid #d8dbe0;
}

.sidebar {
  height: 100%;
  background: #3c4b64;
  color: #a6adb8;
  &__branding {
    height: 65px;
    background: #303c54;
  }
  nav {
    a {
      display: flex;
      gap: 10px;
    }
  }
}

.container {
  height: 100%;
  overflow-y: scroll;
  background: #ebedef;
}

.content {
  height: 200vh;
}

footer {
  height: 65px;
  border-top: 1px solid #d8dbe0;
}
